.container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Open Sans", sans-serif;
}
.items{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    
}
.item_disabled{
    color: gray;
}

.items:hover{
    background-color: #eeeeee;
}
.activeItem_,.activeItem_:hover{
    background-color: rgb(178, 178, 178);
    color: white;
}
.activeItem_primary, .activeItem_primary:hover{
    background-color: #00A76F;
    color: white;
}
.activeItem_secondary, .activeItem_secondary:hover{
    background-color: #8E33FF;
    color: white;
}
.activeItem_info, .activeItem_info:hover{
    background-color: #00B8D9;
    color: white;
}
.activeItem_success, .activeItem_success:hover{
    background-color: #22C55E;
    color: white;
}
.activeItem_warning, .activeItem_warning:hover{
    background-color: #FFAB00;
    color: white;
}
.activeItem_error, .activeItem_error:hover{
    background-color: #FF5630;
    color: white;
}
.activeItem_disabled, .activeItem_disabled:hover{
    background-color: rgb(211, 211, 211);
    color: gray;
}

.rounded{
    border-radius: 50%;
}
.outlined_{
    border: 1px solid rgb(152, 152, 152);
}
.outlined_primary{
    border: 1px solid #00A76F;
}
.outlined_secondary{
    border: 1px solid #8E33FF;
}
.outlined_success{
    border: 1px solid #22C55E;
}
.outlined_info{
    border: 1px solid #00B8D9;
}
.outlined_warning{
    border: 1px solid #FFAB00;
}
.outlined_error{
    border: 1px solid #FF5630;
}
.outlined_disabled{
    border: 1px solid rgb(191, 191, 191);
}

.large{
    width: 38px;
    height: 38px;
}
.small{
    width: 24px;
    height: 24px;
    font-size: 0.8em;
}



.arrows{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}




