.head{
    padding: 5px 10px;
    background-color: #6366F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.clipboard_img{
    width: 16px;
    cursor: pointer;
}
.copy_btn{
    background-color: transparent;
    border: none;
    filter: invert(1);
}