.head{
    padding: 5px 10px;
    background-color: #FDFDFE;
    border-inline: 1px solid rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(52, 52, 52);
    font-size: 14px;
    font-weight: 500;
}
.clipboard_img{
    width: 16px;
    cursor: pointer;
}
.copy_btn{
    background-color: transparent;
    border: none;
}